<!DOCTYPE html>
<html>
  <head>
    <title>HotelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header" >

      <div class = "header_inner" >

        <div class = "header-left-nav" >
            <%= link_to image_tag("sait_logo.png"), users_path %>
        </div>

        <div class = "header-right-nav" >

          <% if user_signed_in? %>
            <div class = "nav-item">
              <%= current_user.name %>
            </div>
            <div class = "nav-item" >
              <label for="toggle" onclick=""  for="menuToggle">
                <% if @user.image? %>
                  <%= image_tag(@user.image.url, class: "host-icon p-1") %>
                <% else %>
                  <%= image_tag("default_icon.jpeg",class: "host-icon p-1") %>
                <% end %>
              </label>
              <input type="checkbox" id="toggle" autocomplete="off">
                <ul class = "menu_list" >
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                  <li>
                    <%= link_to "設定", users_show_path %>
                  </li>
                </ul>
          <% else %>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
              <%= link_to "登録する", new_user_registration_path, class: "btn btn-secondary" %>
          <% end %>
            </div>

        </div>
      </div>

    </header>
    <%= yield %>
    <footer class = "footer" >
      <p>@ 2021 Kenshirou.Fjisawa.</p>
    </footer>
  </body>
</html>
