<!DOCTYPE html>
<html>
  <head>
    <title>HotelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class = "header" >
      <div class = "header_inner" >
        <div class = "header-left-nav" >

          <a href="">
            <%= image_tag "sait_logo.png" %>
          </a>

        </div>

        <div class = "header-right-nav" >

          <div class = "nav-item" >

            <% if user_signed_in? %>

              <h4><%= current_user.name %></h4>

              <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-primary", method: :delete %>



            <% else %>

              <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary" %>

            <% end %>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class = "footer" >
      <p>@ 2021 Kenshirou.Fjisawa.</p>
    </footer>
  </body>
</html>
